*{
    text-decoration: none;
}

:root{
    --font-familyDefault:  -apple-system,'chirp-normal', BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }
  
  .PagesDefault {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .Button{
    margin-top: 0.5rem;
    border-radius: 8px;
    font-family: var(--font-familyDefault);
    color: #fff;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    background-color: #1a1a1a;
    transition: all .2s ease;
  }

.Button:hover{
    background-color: #949494;
    cursor: pointer;
}

.Button a:hover{
    color: #1a1a1a;
}

.Button a{
    cursor: pointer;
    padding: 5px 7px 6px 7px;
    color: #fff;
  }

  
.Home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Value{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
    
.Value .Button{
    margin: 30px 10px;
    width: 140px;
  }

.Home .Button{
        margin: 30px 10px;
        width: 140px;
    }
    
.Button:active{
        background-color: rgb(224, 143, 22);
        color: #1a1a1a;
}

.Button a:active {
    color: #1a1a1a;
}

.approved{
  background-color: #0dcc06 !important;
  color: #1a1a1a !important;
}

.reproved{
  background-color: #cc0606;
  color: #5a5a5a;
}

.ValueButton{
  background-color: #ff6226;
  color: #5a5a5a;
} 